<tr>
  <td><b><%= comment.user.name %> : </b></td>
  <td><%= comment.body %>&nbsp;&nbsp;</td>
  <td><%= comment.timestamp.strftime("%I:%M %p %b %d, %Y") %> | </td>
  <td><%= check_like_on_comment(comment) %></td>
  <td> |&nbsp; Total Likes : <%= count_like_on_comment(comment) %></td>
  <td>&nbsp;| <%= check_destroy_comment_authority(comment) %></td>
</tr>
