<br /><br />

<div class="row-fluid">
  <div class="span4 well">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :class => "form-inline") do |f| %>
      <fieldset>
          <center><legend>Login Form</legend></center>
          <div class="control-group">
            <%= f.label :email %>
            
              <%= f.email_field :email, :autofocus => true %>
            
          </div>
          
          <div class="control-group">
            <%= f.label :password %>
            
              <%= f.password_field :password %>
            
          </div class="checkbox">
          <% if devise_mapping.rememberable? -%>
            <label class="checkbox"><%= f.check_box :remember_me %>Remember me</label>
          <% end -%>
          <div class="form-actions">
            <center><%= f.submit "Sign in", :class => "btn btn-info" %></center>
          </div>
        </fieldset>
      <% end %>

    <%= render "users/shared/links" %>
    <%= link_to "Back", root_path, :class => "btn btn-link" %>
  </div>
</div>

