
<legend>Friend List</legend>
<% if @friends.present? %>
  <table id="ftable" class="table table-striped">
    <tr>
      <th>User Name</th>
      <th>Email</th>
    </tr>
    <% @users.each do |user| %>
      <% @friends.each do |friend| %>
      
        <% if friend.user_id == user.id %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <% if friend.status == false %>
            <%= form_for(@friend) do |f| %>
              <%= f.hidden_field(:user_id, :value => current_user.id) %>
              <%= f.hidden_field(:to_user_id, :value => user.id) %>
              <%= f.hidden_field(:status, :value => true) %>
              <td><%= f.submit "Confirm?", :class => "btn btn-success" %>
              <%= link_to 'Cancel', friend, method: :delete, :class => "btn btn-danger" %></td>
            <% end %>
          <% end %>
        </tr>
        <% end %>
      <% end %>
    <% end %>
  </table>
<% else %>
<h4>Empty Friends List</h4><br />
<% end %>


<br />
<%= link_to 'New Friends or Maintain Friends', new_friend_path, :class => "btn btn-info" %>
