<%= form_for(@status_update, :remote => true) do |f| %>
  <% if @status_update.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status_update.errors.count, "error") %> prohibited this status_update from being saved:</h2>

      <ul>
      <% @status_update.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field(:user_id, :value => current_user.id) %>
  </div>
  <div class="field">
    <%= f.hidden_field(:to_user_id, :value => current_user.id) %>
  </div>
  <div class="field">
    <label>Your Status</label>
    <%= f.text_area(:body, :rows => "2", :class => "span6") %>
  </div>
  <div class="field">
    <%= f.hidden_field(:timestamp, :value => Time.now.strftime("%I:%M:%S %p %b %d, %Y")) %>
  </div>
  <div class="actions">
    <%= f.submit "Update", :class => "btn btn-info" %>
  </div>
<% end %>
