<tr>
  <td><%= status_update.user.name %></td>
  <td><%= status_update.body %></td>
  <td><%= status_update.timestamp.strftime("%I:%M %p %b %d, %Y") %></td>
  <td><%= link_to '<i class="icon-fullscreen"></i> Show'.html_safe, status_update, :class => "btn btn-success" %>
  <% if current_user.id == status_update.user_id %>
    <%= link_to '<i class="icon-trash"></i> Delete'.html_safe, status_update, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
  <% end %></td>
</tr>




