<script>
$(document).ready(function(){
    $("table").hide();
    $("table").show(2000);
});
</script>
<br /><br /><br />
<% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
<% end %>

<legend>Status Updates</legend>

<table class="table table-striped">
  <tr>
    <th>User</th>
    <th>Body</th>
    <th>Timestamp</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @status_updates.each do |status_update| %>
  <tr>
    <td><%= status_update.user.name %></td>
    <td><%= status_update.body %></td>
    <td><%= status_update.timestamp.strftime("%I:%M %p %b %d, %Y") %></td>
    <td><%= link_to '<i class="icon-fullscreen"></i> Show'.html_safe, status_update, :class => "btn btn-success" %>
    <% if current_user.id == status_update.user_id %>
      <%= link_to '<i class="icon-trash"></i> Delete'.html_safe, status_update, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
    <% end %></td>
  </tr>
<% end %>
</table>

<br />

&nbsp;<%= link_to '<i class="icon-share"></i> New Status'.html_safe, new_status_update_path, :class => "btn btn-info" %>
