<% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
<% end %>
<h3 align="right">Welcome <%= current_user.name %>,
  &nbsp;&nbsp;&nbsp;
  <%= link_to 'logout', destroy_user_session_path, :method => :delete %></h3>

<h1>Status Updates</h1>

<table>
  <tr>
    <th>User</th>
    <th>Body</th>
    <th>Timestamp</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @status_updates.each do |status_update| %>
  <tr>
    <td><%= status_update.user.name %></td>
    <td><%= status_update.body %></td>
    <td><%= status_update.timestamp.strftime("%I:%M %p %b %d, %Y") %></td>
    <td><%= link_to 'Show', status_update %></td>
    <% if current_user.id == status_update.user_id %>
      <td> | <%= link_to 'Delete', status_update, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Home', root_path %> | <%= link_to 'New Status', new_status_update_path %>
