<html>
<center><legend>Social Networking Site</legend>
      <% if current_user %>
        <% i=0 %>
        <% @users.each do |user| %>
          <% Friend.where("to_user_id=?", current_user.id).each do |friend| %>
            <% if friend.user_id == user.id %>
              <% if friend.status == false %>
                <% i += 1 %>      
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <% if i == 0 %>
          <%= link_to '<i class="icon-flag"></i> Friends'.html_safe, friends_path, :class => "btn btn-info" %>
        <% else %>
          <%= link_to "<i class='icon-flag'></i> Friends(#{i})".html_safe, friends_path, :class => "btn btn-info" %>
        <% end %>
        <%= link_to '<i class="icon-th-list"></i> Status Update'.html_safe, status_updates_path, :class => "btn btn-info" %>
        </center><br /><br /><br />
        <% if i == 1 %>
          <h3><b>Notification</b></h3>
          <%= link_to "#{i} Friend Request", friends_path %>
        <% elsif i > 1 %>
          <h3><b>Notification</b></h3>
          <%= link_to "#{i} Friend Requests", friends_path %>
        <% end %><br />
      <% else %>
        <center><h3>Welcome Guest</h3>
        <%= link_to 'SignIn', new_user_session_path, :class => "btn btn-info" %>&nbsp;&nbsp;&nbsp;
        <%= link_to 'SignUp', new_user_registration_path, :class => "btn btn-success" %><br /></center>
      <% end %>
 
</html>
