<br /><br />
<div class="row-fluid">
  <div class="offset2 span8 well">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <fieldset>
        <center><legend>SignUp Form</legend></center>
        <div class="control-group">
          <%= f.label :name %>
          <%= f.text_field :name, :autofocus => true %>
        </div>
  
        <div class="control">
          <%= f.label :gender %>
          <%= f.label :male %><%= f.radio_button :gender, "Male" %>
          <%= f.label :female %><%= f.radio_button :gender, "Female" %>
        <div>
  
        <div class="control-group">
          <%= f.label :dob %>
          <%= f.date_select :dob, :start_year => Time.now.year - 18, :end_year => Time.now.year - 60 %>
        </div>

        <div class="control-group">
          <%= f.label :email %>
          <%= f.email_field :email %>
        </div>

        <div class="control-group">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>

        <div class="control-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
        </div>

        <div class="form-actions">
          <center><%= f.submit "Sign up", :class => "btn btn-info" %></center>
        </div>
      </fieldset>
    <% end %>
    <%= render "users/shared/links" %>
    <%= link_to "Back", root_path, :class => "btn btn-link" %>
  </div>
</div>
